/.vs/slnx.sqlite
/.vs/SpringReactAzureAD/FileContentIndex/6d987f09-a40c-42fc-a3b8-cce20dcd1349.vsidx
/.vs/SpringReactAzureAD/FileContentIndex/735e6b16-7799-4f20-9bf5-f7082d555bf4.vsidx
/.vs/SpringReactAzureAD/FileContentIndex/ae066ca2-4789-49ed-8a06-3922fdf5baf2.vsidx
/.vs/SpringReactAzureAD/FileContentIndex/d613965b-978e-40ed-a1e2-919b546561fe.vsidx
/.vs/SpringReactAzureAD/FileContentIndex/f540df60-e0ae-4d7d-9d5c-e001795a3f13.vsidx
/.vs/SpringReactAzureAD/v17/.wsuo
/.vs/VSWorkspaceState.json
